.navbutton__checkbox {
  display: none;
}

.navbutton__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 100;
}

.navbutton__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(rgb(177, 177, 177), rgb(56, 56, 56));
  z-index: 50;

  transform: scale(50);
}

.navbutton__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 70;
}

.navbutton__list {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
}

.navbutton__item {
    margin: 1rem;
}

.navbutton__link:link, 
.navbutton__link:visited {
    display: inline-block;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase; 
    padding: 0 1rem;;
    background-image: linear-gradient(150deg,transparent 0%, transparent 50%, white 50%);
    background-size: 300%;
    transition: all .4s;
}

.navbutton__link:hover,
.navbutton__link:active {
    background-position: 100%;
    transform: translateX(.5rem);

}