/* style.css */
body {
  margin: 0; /* pour éviter les marges */
  font-family: "Montserrat", sans-serif;
}

h1,
h5 {
  text-align: center;
  font-family: "Merriweather", serif;
}

.left {
  text-align: left;
}

.margin-up {
  margin-top: 5vh;
}

.container {
  margin-top: 10vh;
}

/*////////////////////////////////////////
//                                      //
//            SECTION ENTETE            //
//                                      //
////////////////////////////////////////*/

#entete {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.3) 150px,
      rgba(0, 0, 0, 0.3)
    ),
    url(media/enteteBugCookers.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
