/* style.css */




body {
    margin: 0; /* pour éviter les marges */
    font-family: 'Montserrat', sans-serif;
  }

h1,h5 {

    text-align: center;
    font-family: 'Merriweather', serif;
}

.left {
    text-align: left;
}

.margin-up {
    margin-top: 5vh;
}

.container {
    margin-top: 10vh;
}
