header {
  height: 22rem;
  background-image: url(/home/wilder/wcs/Blog/img/bgheader.jpg); 
  background-size: cover;
  
} 



header h1
{
    font-family: 'Merriweather';
    font-size: 90px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 30px;
    color: rgb(176, 176, 192);
}

#logo_button
{
  padding: 2rem;
}

.btn-css {
  background-color: transparent;
  color: rgb(51, 48, 48);
  
  border: none;
}

.btn-css:hover 
{
  text-decoration:underline;
  background: none;
  color: rgb(51, 48, 48);
}

body{
  background-color: #dcdde1;
}

nav.navbar {
  background-color: #dcdde1 !important;
}
