

header {
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url(../img/bann.jpg);
  
}
img {
  border-radius: 5px;
  box-shadow: 4px 4px rgb(197, 197, 197);
  
}

header h1
{
    font-family: 'Merriweather';
    font-size: 90px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 30px;
    color: rgb(176, 176, 192);
}

.button-group filter-button-group