

header {
  height: 22rem;
  background-image: url(/home/wilder/wcs/Blog/img/bgheader.jpg); 
  background-size: cover;
  
} {
  border-radius: 5px;
  box-shadow: 4px 4px rgb(197, 197, 197);
  
}

header h1
{
    font-family: 'Merriweather';
    font-size: 90px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 30px;
    color: rgb(176, 176, 192);
}

#logo_button
{
  padding: 2rem;
}
